@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #865DFF;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

html, body{
    width: 100%;
    background-color: #f8f9fa;
}

/* MENU - GERAL */

.navbar{
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: #f8f9fa;
    top: 0;
    z-index: 99;
}

.menu_esquerda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28vw;
    margin-left: 2vw;
}

.menu_esquerda img{
    width: 10vw;
}

.menu_esquerda a{
    text-decoration: none;
    color: #865DFF;
    font-weight: 400;
    font-size: 1.5vw;
}

.menu_direita{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18vw;
    margin-right: 3vw;
}

.menu_direita a{
    text-decoration: none;
    color: #865DFF;
    font-weight: 400;
    font-size: 1.5vw;
}

.btn_cadastrar{
    background-color: #865DFF;
    border: none;
    padding: 0.8vh 1.5vw;
    font-size: 1.5vw;
    color: white;
    cursor: pointer;
}

.btn_cadastrar:hover{
    transition: ease-in-out 0.25s;
    background-color: white;
    color: #865DFF;
}

/* BANNER - index.html*/

.bootcamp{
    width: 100%;
}

.anuncio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
}

.informacoes_banner{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    background-color: #f8f9fa;
    padding: 1.5vh 5vw;
}

.informacoes_banner span{
    background: #191825;
    border-radius: 20px;
    height: 3vw;
    width: 0.15vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.informacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informacao img{
    width: 2.5vw;
}

.informacao div{
    margin-left: 1.5vw;
    display: flex;
    flex-direction: column;
}

.informacao div p{
    font-size: 1.2vw;
}

<<<<<<< HEAD
/* QUEM SOMOS NÓS - index.html */
=======
/* Quem somos nós */
>>>>>>> 0e7fa07acdf978baeb1df41fa0c2d85eb27a7bde

.sobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vw;
    margin-top: 8vw;
}

.card_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_container h1{
    font-weight: 400;
    font-size: 2.5vw;
}

.cards{
    margin-top: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 15vw;
    background: #ffffff;
    box-shadow: 0 0.5vw 0 #865DFF;
    border-radius: 1vw;
    transition: ease-in-out 0.5s;
}

.card:hover{
    width: 25.5vw;
    height: 15.5vw;
    box-shadow: 0 0.7vw 0 #865DFF;
    transition: ease-in-out 0.5s;
}

.card img{
    width: 4vw;
}

.card p{
    font-size: 2vw;
    margin-top: 2vh;
}

.quem_somos{
    width: 90vw;
    margin-top: 5vw;
    margin-bottom: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.quem_somostxt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quem_somostxt span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quem_somostxt span img{
    width: 5vw;
}

.quem_somostxt h2{
    font-size: 3vw;
}

.quem_somostxt p{
    width: 50vw;
    margin-left: 5vw;
    font-size: 2vw;
    text-align: justify;
}

.foguete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
<<<<<<< HEAD
=======
}

.foguete img{
    width: 20vw;
    margin-top: 10vh;
}

/* CURSOS - Textos */

.cursos_textos {
    width: 100%;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cursos_textos h2{
    font-size: 2.5vw;
    margin-left: 5vw;
}

.cursos_textos p{
    font-size: 2vw;
    margin-left: 5vw;
    margin-top: 1vh;
}

/* CURSOS - Curso */

.cursos_background{
    height: 25vw;
    width: 100%;
    background: linear-gradient(180deg, #865DFF 0%, #E384FF 100%);
    display: flex;
    align-items: center;
}

.cursos_background .curso {
    width: 25vw;
    margin-left: 8vw;
}

.cursos_background .curso p{
    font-size: 2vw;
    color: #ffffff;
    margin-bottom: 2vh;
}

.cursos_background .curso .curso_container{
    width: 14.5vw;
    height: 18vw;
    background-color: #ffffff;
    border-radius: 1vw;
}

.cursos_background .curso .curso_container img{
    width: 14.5vw;
}

.cursos_background .curso .curso_container .js_icon{
    width: 5vw;
    position: absolute;
    margin-top: -5vw;
}

.cursos_background .curso .curso_container p{
    color: #191825;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 2.5vw 0 0.5vh 0.5vw;
}

.cursos_background .curso .curso_container .curso_stars{
    display: flex;
    flex-direction: row;
    margin-left: 0.5vw;
}

.cursos_background .curso .curso_container .curso_stars img{
    width: 1.2vw;
}

.curso_stars img:not(:last-child){
    margin-right: 0.2vw;
}

/* PREPARANDO CURSOS */

.preparando_cursos{
    height: 30vw;
    display: flex;
    justify-content: center;
}

.preparando_cursos h2{
    font-size: 2.2vw;
    margin-top: 5vh;
>>>>>>> 0e7fa07acdf978baeb1df41fa0c2d85eb27a7bde
}

.foguete img{
    width: 20vw;
    margin-top: 10vh;
}

/* CURSOS - cursos.html*/

.cursos_textos {
    width: 100%;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cursos_textos h2{
    font-size: 2.5vw;
    margin-left: 5vw;
}

.cursos_textos p{
    font-size: 2vw;
    margin-left: 5vw;
    margin-top: 1vh;
}

.cursos_background{
    height: 25vw;
    width: 100%;
    background: linear-gradient(180deg, #865DFF 0%, #E384FF 100%);
    display: flex;
    align-items: center;
}

.cursos_background .curso {
    width: 25vw;
    margin-left: 8vw;
}

.cursos_background .curso p{
    font-size: 2vw;
    color: #ffffff;
    margin-bottom: 2vh;
}

.cursos_background .curso .curso_container{
    width: 14.5vw;
    height: 18vw;
    background-color: #ffffff;
    border-radius: 1vw;
    cursor: pointer;
}

.cursos_background .curso .curso_container img{
    width: 14.5vw;
}

.cursos_background .curso .curso_container .js_icon{
    width: 5vw;
    position: absolute;
    margin-top: -5vw;
}

.cursos_background .curso .curso_container p{
    color: #191825;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 2.5vw 0 0.5vh 0.5vw;
}

.cursos_background .curso .curso_container .curso_stars{
    display: flex;
    flex-direction: row;
    margin-left: 0.5vw;
}

.cursos_background .curso .curso_container .curso_stars img{
    width: 1.2vw;
}

.curso_stars img:not(:last-child){
    margin-right: 0.2vw;
}

.preparando_cursos{
    height: 30vw;
    display: flex;
    justify-content: center;
}

.preparando_cursos h2{
    font-size: 2.2vw;
    margin-top: 5vh;
}

/* CURSO ESQUERDA - cursoJS.html */

.cursoJS_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    
}

.cursoJS_container .cursoJS_left{
    width: 60vw;
    padding: 4vw 6vw;
}

.cursoJS_left_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cursoJS_left_container h2 {
    font-size: 2vw;
    margin-bottom: 1.5vw;
}

.cursoJS_left_container p{
    font-size: 1.5vw;
    width: 45vw;
}

.cursoJS_left_container img{
    width: 45vw;
    margin: 2vw 0;
}

.cursoJS_left_container .topicos{
    width: 45vw;
    background-color: #EEEEEE;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
}

.cursoJS_left_container .topicos .topicos_textos{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* FOOTER - GERAL */

footer{
    background-color: #865DFF;
    padding: 2.2vh 0;
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

footer p {
    font-size: 1.5vw;
    color: white;
    font-weight: 300;
}

footer div{
    margin-top: 1.5vh;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

footer div img {
    width: 2.8vw;
<<<<<<< HEAD
}
=======
}















>>>>>>> 0e7fa07acdf978baeb1df41fa0c2d85eb27a7bde
